<h1>All Photos</h1>
<%= form_tag root_path, :method => 'get' do %>
	<p>
		<%= label :get, :searchkey, "Key Search Box" %>
		<%= text_field_tag :searchkey, params[:searchkey] %>
		<%= label :get, :searchvalue, "Value Search Box" %>
		<%= text_field_tag :searchvalue, params[:searchvalue] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>
<div class="row">
 <%  @photos.each do |photo| %>
 	<div class "row">
		<h2>  <%= photo.title %> </h2>
		<% if user_signed_in? && photo.user_id == current_user.id %>
  			<%= link_to image_tag(photo.image.url(:thumb)), photo_path(photo) %>
    		<%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button alert" %>
    	<% else %>
    		<%= image_tag(photo.image.url(:thumb)) %>
		<% end %>
	</div>
<% end %> 
</div>