<%= form_for @photo, :html => { :multipart => true } do |photo| %>

<div class="field">
  <%= photo.label :title %>
  <%= photo.text_field :title %>
</div>
<div class="field">
  <%= photo.file_field :image %>
</div>
<h3>Tag</h3>
<%= photo.fields_for :tags do |tag| %>
  <div class="field">
    <%= tag.label :key %>
    <%= tag.text_field :key %>
  </div>
  <div class="field">
    <%= tag.label :value %>
    <%= tag.text_field :value %>
  </div>
<% end %>

<div class="actions">
  <%= photo.submit %>
</div>
<% end %>
