<div class="panel row">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<%= image_tag (@photo.image.url(:medium)) %>

<p>
  <strong>User:</strong>
  <%= @photo.user.username %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo), :class => "button radius round tiny" %> | 
<%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button tiny alert radius round tiny" %> | 
<%= link_to 'Back', photos_path, :class => "button [succes tiny radius round ]" %>

<h3>Tags</h3>
<p>           
    <%= form_for([@photo, @tag]) do |f| %>
        <div class="field">
            <%= f.label :key %>
            <%= f.text_field :key %>
        </div>
        <div class="field">
            <%= f.label :value %>
            <%= f.text_field :value %>
        </div>
        <%= f.submit "Tag Photo", class: "button success" %>
    <% end %>
</p>
<%  @tags.each do |tag| %>
<p>Key: <%=  tag.key %></p>
<p>Value: <%=  tag.value %></p>
<% end %>




</div>
